*{
    padding: 0;
    margin : 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background: rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
}
$accent-color: #1b28de;

.App{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

.scroll-top-button{
    position: fixed;
    right: 30px;
    bottom: 20px;
    display: block;
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    background: $accent-color;
    @media (min-width: 996px) {
        padding: 15px;
        bottom: 100px;
        right: 100px;
    }
}

.search{  
    margin-top: 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
        
        margin-bottom: 10px;
       img{
        width: 70px;
       }
       h3{
           color: #f80cf8;
           font-size: 2rem;
       }
    }
    form{
        position: relative;
        width: 100%;
        max-width: 500px;
        .input-field{
            position: relative;
            background: white;
            border-radius: 10px;
            
            
           
            input{
                width: 70%;
                padding: 10px;
                font-size: 1.3rem;
                font-weight: medium;
                background: none;
                border: none;
                outline:none;
                color: gray;
            }
            button{
                display: block;
                width:fit-content;
                padding:  5px 20px;
                background: $accent-color;
                border: none;
                outline: none;
                border-radius: 10px;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                svg{
                    width: 20px;
                    stroke: white;
                    fill:none;
                }
            }
        }
       .searchTags{
           position: absolute;
           left: 0;
           width: 100%;
           background: white;
           border-radius: 10px;
           padding: 10px 0px;
           margin-top: 5px;
           li{
              
                 padding: 5px 10px;
                 display: block;
                 color:  rgb(48, 48, 48);
                 font-size: 1rem;
               
           }
       }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        >*{
            margin: 10px 20px;
        }
    }
    @media (min-width: 1200px){
        .logo{
            img{
                width: 120px;
            }
            h3{
                font-size: 3rem;
            }
        }
    }
}

nav{
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    display: flex;
    a{
        color:white;
        font-weight: bold;
        padding: 10px 20px;
        display: block;
        width: fit-content;
        
    }
    .active{
        border-bottom: 2px solid white;
    }
    @media(min-width: 996px){
        a{
            font-size: 1.3rem;
        }
    }
    @media(min-width: 1200px){
        a{
            font-size: 1.5rem;
        }
        margin-bottom: 20px;
    }
}

.trending{
    padding: 20px 0;
    h3{
        color: white;
        margin-bottom: 10px;
    }
    a{
        display: block;
        height: fit-content;
        margin: 5px;
        .loadingGif{
            width: 50%;
            margin: 0 auto;
        }
        img{
            width: 100%;
        }
        
    }
}




